body{
margin:0;
background:#050816;
font-family:sans-serif;
color:white;
}

.chat-container{
max-width:500px;
margin:auto;
height:100vh;
display:flex;
flex-direction:column;
}

.top{
display:flex;
align-items:center;
padding:15px;
background:#0b1023;
border-bottom:1px solid #222;
}

.avatar{
width:50px;
height:50px;
border-radius:50%;
margin-right:10px;
}

.messages{
flex:1;
padding:10px;
overflow-y:auto;
}

.bot-msg{
background:#1e2238;
padding:12px;
border-radius:15px;
margin:10px 0;
max-width:80%;
}

.user-msg{
background:#7c3aed;
padding:12px;
border-radius:15px;
margin:10px 0;
margin-left:auto;
max-width:80%;
}

.input-box{
display:flex;
padding:10px;
background:#0b1023;
}

input{
flex:1;
padding:12px;
border:none;
outline:none;
border-radius:10px;
background:#1e2238;
color:white;
}

button{
margin-left:10px;
padding:12px 15px;
border:none;
border-radius:10px;
background:#7c3aed;
color:white;
font-size:18px;
}
